<ul class="links">
  <li class="{% if page.url == "/" %} active {% endif %}"><a href="{{ "/" | absolute_url }}">Theme Home</a></li>
  <li class="{% if page.url contains '/about/' %} active {% endif %}"><a href="{{ "/about/" | absolute_url }}">About</a></li>
  <li class="{% if page.url contains '/blog/' %} active {% endif %}"><a href="{{ "/blog/" | absolute_url }}">Blog</a></li>
  <li class="{% if page.url contains '/perspective/' %} active {% endif %}"><a href="{{ "/life-perspective" | absolute_url }}">Life Perspective</a>
  <li class="{% if page.url contains '/elements/' %} active {% endif %}"><a href="{{ "/elements/" | absolute_url }}">Elements Reference</a>
  <li class="{% if page.url contains '/like/' %} active {% endif %}"><a href="{{ "/subscribe" | absolute_url }}">Like This?</a></li>
  </li>
</ul>
